<div>
  <div class="alert alert--{{ item.type }} flash"  *ngFor="let item of _alerts" [@slideRightOut] (@slideRightOut.done)="removeAlertWithTimeout(item)">
    <div class="alert__title" *ngIf="item.title">
      {{ item.title | translate }}
    </div>
    <div class="alert__body" *ngIf="item.message">
      {{ item.message | translate }}
    </div>

    <div class="alert__close" *ngIf="closeable">
      <div class="icon" (click)="removeAlert(item)">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>
</div>
