<form [formGroup]="form" *ngIf="form" (submit)="handleSubmit()">
    <ng-content></ng-content>

    <aroio-input [requiredMarker]="true" type="password" [label]="'security.login.labels.password' | translate" [formControl]="form.get('password')"></aroio-input>
    <aroio-input [requiredMarker]="true" type="password" [label]="'security.login.labels.password_confirm' | translate" [formControl]="form.get('passwordRepeated')"></aroio-input>
    <button aroio-button type="submit" [color]="'primary'" [block]="true" [disabled]="form.invalid" [loading]="isSendingRequest">{{ 'Password Reset' | translate }}</button>

    <div class="form-help">
        <a href="" [routerLink]="['/', translate.currentLang, 'login']">
            {{ 'security.password_request.labels.back_to_login' | translate }}
        </a>
    </div>
</form>
