<div class="footer">
  <div class="footer__brand">
  </div>

  <div class="footer__center">
    <div class="footer__center__item"><a [routerLink]="['/', translate.currentLang, 'impressum']">{{ 'aroio.pages.imprint.title' | translate }}</a></div>
    <div class="footer__center__item"><a [routerLink]="['/', translate.currentLang, 'abacus']">{{ 'aroio.pages.abacus.title' | translate }}</a></div>
    <div class="footer__center__item"><a [routerLink]="['/', translate.currentLang, 'support']">{{ 'aroio.pages.support.title' | translate }}</a></div>
  </div>

  <div class="footer__actions">
  </div>
</div>
