<form [formGroup]="form">
  <aroio-content-item [title]="'Verbindung'">

    <aroio-form-switch [id]="'test-id-01'" [label]="'WLAN'" [hasContent]="true">
      <bd-input [type]="'text'" [formControl]="form.get('hostname')" label="Hostname" placeholder="Hostname"></bd-input>
      <bd-input [type]="'text'" [formControl]="form.get('ip')" label="IP Adresse" placeholder="IP Adresse"></bd-input>
      <bd-input [type]="'text'" [formControl]="form.get('subnet')" label="Subnetzmaske" placeholder="Subnetzmaske"></bd-input>
      <bd-input [type]="'text'" [formControl]="form.get('gateway')" label="Gateway" placeholder="Gateway"></bd-input>
    </aroio-form-switch>


    <aroio-form-switch [id]="'test-id-02'" [label]="'Automatische Konfiguration'">

    </aroio-form-switch>

  </aroio-content-item>


  <aroio-content-item [title]="'Webinterface'">
    <bd-input [type]="'password'" [formControl]="form.get('password')" label="Passwort" placeholder="Passwort"></bd-input>

  </aroio-content-item>
  <aroio-content-item [title]="'Hardware'">
    <bd-input [type]="'select'" [formControl]="form.get('platform')" label="Plattform" placeholder="Auswählen"></bd-input>
  </aroio-content-item>

  <div class="action-bar">
    <div class="action-bar__item"></div>
    <div class="action-bar__item">
      <button aroio-btn type="submit" [color]="'primary'">Speichern</button>
    </div>
  </div>

</form>
