<form [formGroup]="form" (submit)="submitForm($event)" *ngIf="form">
  <aroio-content-item [title]="'Verbindung'">

    <aroio-form-switch [id]="'wifi-form'"
                       [label]="'WLAN'"
                       [hasContent]="true"
                       [switchState]="form.get('wifi').value"
                       (switched)="form.get('wifi').setValue($event)"
    >
      <aroio-input [type]="'text'"
                   [formControl]="form.get('wlanssid')"
                   label="WLAN SSID"
                   placeholder="SSID"
      ></aroio-input>
    </aroio-form-switch>


    <aroio-form-switch [id]="'automatic-config-form'"
                       [label]="'Automatische Konfiguration'"
                       [hasContent]="true"
                       [inverted]="true"
                       [switchState]="form.get('dhcp').value"
                       (switched)="form.get('dhcp').setValue($event)"
    >
      <aroio-input [type]="'text'"
                   [formControl]="form.get('hostname')"
                   label="Hostname"
                   placeholder="Hostname"
      ></aroio-input>
      <aroio-input [type]="'text'"
                   [formControl]="form.get('ipaddr')"
                   label="IP Adresse"
                   placeholder="IP Adresse"
      ></aroio-input>
      <aroio-input [type]="'text'"
                   [formControl]="form.get('netmask')"
                   label="Subnetzmaske"
                   placeholder="Subnetzmaske"
      ></aroio-input>
      <aroio-input [type]="'text'"
                   [formControl]="form.get('gateway')"
                   label="Gateway"
                   placeholder="Gateway"
      ></aroio-input>
      <aroio-input [type]="'text'"
                   [formControl]="form.get('dnsserv')"
                   label="DNS Server"
                   placeholder="DNS Server"
      ></aroio-input>
    </aroio-form-switch>

  </aroio-content-item>


  <aroio-content-item [title]="'Webinterface'">
    <bd-input [type]="'password'" [formControl]="form.get('wlanpwd')" label="Passwort"
              placeholder="Passwort"></bd-input>

  </aroio-content-item>
  <!--<aroio-content-item [title]="'Hardware'">-->
  <!--<bd-input [type]="'select'" [formControl]="form.get('platform')" label="Plattform" placeholder="Auswählen"></bd-input>-->
  <!--</aroio-content-item>-->

  <div class="action-bar">
    <div class="action-bar__item"></div>
    <div class="action-bar__item">
      <button aroio-btn type="submit" [color]="'primary'">Speichern</button>
    </div>
  </div>

</form>
