<aroio-loading *ngIf="isLoading"></aroio-loading>

<form [formGroup]="form" (submit)="submitForm($event)" *ngIf="form && !isLoading">
  <aroio-content-item [title]="'aroio.pages.network.connection.title' | translate">

    <aroio-input [type]="'text'"
                 [formControl]="form.get('hostname')"
                 [label]="'aroio.pages.network.forms.hostname.label' | translate"
                 [placeholder]="'aroio.pages.network.forms.hostname.placeholder' | translate"
    ></aroio-input>

    <aroio-form-switch [id]="'lan-dhcp-form'"
                       [label]="'aroio.pages.network.forms.lan_dhcp.label' | translate"
                       [hasContent]="true"
                       [inverted]="true"
                       [switchState]="form.get('lan').get('dhcp').value"
                       (switched)="form.get('lan').get('dhcp').setValue($event)"
                       [disabled]="form.get('wifi').value"
    >
      <aroio-input [type]="'text'"
                   [formControl]="form.get('lan').get('ipaddr')"
                   [label]="'aroio.pages.network.forms.lan_ipaddr.label' | translate"
                   [placeholder]="'aroio.pages.network.forms.lan_ipaddr.placeholder' | translate"
      ></aroio-input>
      <aroio-input [type]="'text'"
                   [formControl]="form.get('lan').get('netmask')"
                   [label]="'aroio.pages.network.forms.lan_netmask.label' | translate"
                   [placeholder]="'aroio.pages.network.forms.lan_netmask.placeholder' | translate"
      ></aroio-input>
      <aroio-input [type]="'text'"
                   [formControl]="form.get('lan').get('gateway')"
                   [label]="'aroio.pages.network.forms.lan_gateway.label' | translate"
                   [placeholder]="'aroio.pages.network.forms.lan_gateway.placeholder' | translate"
      ></aroio-input>
      <aroio-input [type]="'text'"
                   [formControl]="form.get('lan').get('dnsserv')"
                   [label]="'aroio.pages.network.forms.lan_dnsserv.label' | translate"
                   [placeholder]="'aroio.pages.network.forms.lan_dnsserv.placeholder' | translate"
      ></aroio-input>
    </aroio-form-switch>

    <aroio-form-switch [id]="'wifi-form'"
                       [label]="'aroio.pages.network.forms.wifi.label' | translate"
                       [hasContent]="true"
                       [switchState]="form.get('wifi').value"
                       (switched)="form.get('wifi').setValue($event)"
    >
      <aroio-input [type]="'text'"
                   [formControl]="form.get('wlan').get('ssid')"
                   [label]="'aroio.pages.network.forms.wlan_ssid.label' | translate"
                   [placeholder]="'aroio.pages.network.forms.wlan_ssid.placeholder' | translate"
      ></aroio-input>
      <aroio-input [type]="'password'"
                   [formControl]="form.get('wlan').get('pwd')"
                   [label]="'aroio.pages.network.forms.wlanpwd.label' | translate"
                  [placeholder]="'aroio.pages.network.forms.wlanpwd.placeholder' | translate"
      ></aroio-input>



      <aroio-form-switch [id]="'wifi-dhcp-form'"
                         [label]="'aroio.pages.network.forms.wlan_dhcp.label' | translate"
                         [hasContent]="true"
                         [inverted]="true"
                         [switchState]="form.get('wlan').get('dhcp').value"
                         (switched)="form.get('wlan').get('dhcp').setValue($event)"
      >
        <aroio-input [type]="'text'"
                     [formControl]="form.get('wlan').get('ipaddr')"
                     [label]="'aroio.pages.network.forms.wlan_ipaddr.label' | translate"
                     [placeholder]="'aroio.pages.network.forms.wlan_ipaddr.placeholder' | translate"
        ></aroio-input>
        <aroio-input [type]="'text'"
                     [formControl]="form.get('wlan').get('netmask')"
                     [label]="'aroio.pages.network.forms.wlan_netmask.label' | translate"
                     [placeholder]="'aroio.pages.network.forms.wlan_netmask.placeholder' | translate"
        ></aroio-input>
        <aroio-input [type]="'text'"
                     [formControl]="form.get('wlan').get('gateway')"
                     [label]="'aroio.pages.network.forms.wlan_gateway.label' | translate"
                     [placeholder]="'aroio.pages.network.forms.wlan_gateway.placeholder' | translate"
        ></aroio-input>
        <aroio-input [type]="'text'"
                     [formControl]="form.get('wlan').get('dnsserv')"
                     [label]="'aroio.pages.network.forms.wlan_dnsserv.label' | translate"
                     [placeholder]="'aroio.pages.network.forms.wlan_dnsserv.placeholder' | translate"
        ></aroio-input>
      </aroio-form-switch>

    </aroio-form-switch>

  </aroio-content-item>


  <!--<aroio-content-item [title]="'aroio.pages.network.webinterface.title' | translate">-->
  <!--</aroio-content-item>-->
  <!--<aroio-content-item [title]="'Hardware'">-->
  <!--<bd-input [type]="'select'" [formControl]="form.get('platform')" label="Plattform" placeholder="Auswählen"></bd-input>-->
  <!--</aroio-content-item>-->

  <div class="action-bar">
    <div class="action-bar__item"></div>
    <div class="action-bar__item">
      <button aroio-btn type="submit" [color]="'primary'">Speichern</button>
    </div>
  </div>

</form>
