[Unit]
Description=aroio-webinterafce service
Requires=network.target checkuserconfig.service
After=checkuserconfig.service

[Service]
Type=simple
ExecStart=/bin/python /opt/webinterface/api/start_api.py
Restart=always

[Install]
WantedBy=multi-user.target
