<bd-layout>

  <bd-layout-nav>
    <bd-nav [brand]="'/assets/abacus_logo_wide.png'">
      <bd-nav-main>
        <aroio-navigation></aroio-navigation>
      </bd-nav-main>
      <bd-nav-aside>
      </bd-nav-aside>
      <bd-nav-sub>
        <aroio-sidebar-nav [title]="'Konfiguration'" (sidebarToggle)="toggleSidebar = $event"></aroio-sidebar-nav>
      </bd-nav-sub>
    </bd-nav>
  </bd-layout-nav>


  <bd-layout-content>
    <configuration-index-component></configuration-index-component>
  </bd-layout-content>
</bd-layout>
