<bd-header>
  <bd-header-main>
    <h2>Konfiguration</h2>
  </bd-header-main>

  <bd-header-aside>
    <bd-button [color]="'primary'" (click)="openModal(testModal, 0)">Öffne ein Modal</bd-button>
  </bd-header-aside>
</bd-header>


<bd-content>
  <bd-content-main>
    <bd-grid>
      <bd-col>
        <aroio-content-item>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque autem ex excepturi illo itaque maxime mollitia officiis perspiciatis quis quos totam velit, voluptate voluptates voluptatum. Aut blanditiis nemo veritatis.
          </p>

        </aroio-content-item>
      </bd-col>
    </bd-grid>

  </bd-content-main>
  <bd-content-aside>
          <div class="form-help">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquam est expedita magnam minima numquam, odio, quibusdam quo saepe sint voluptates? Blanditiis consequuntur itaque laudantium magnam maiores nesciunt sequi.
          </div>
  </bd-content-aside>
</bd-content>
