

<div class="aroio-sidebar">
  <div class="aroio-sidebar__widget">
    <h4>Item 1</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem explicabo minus omnis reprehenderit rerum sapiente voluptatem!
    </p>
  </div>
  <div class="aroio-sidebar__widget">
    <h4>Item 1</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem explicabo minus omnis reprehenderit rerum sapiente voluptatem!
    </p>
  </div>
  <div class="aroio-sidebar__widget">
    <h4>Item 1</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem explicabo minus omnis reprehenderit rerum sapiente voluptatem!
    </p>
  </div>

</div>
