//
// Braune-Digital CSS Framework
// ---------------------------------------------------------

//
// Form Group
// ---------------------------------------------------------

.form-group {
  margin-bottom: $form-group-margin-bottom;

  .row {
    align-items: center;
  }

  &.has-errors {
    .form-control {
      box-shadow: $input-error-shadow;
      // Placeholder
      &::placeholder {
        color: $input-error-placeholder-color;
      }
    }
  }
}

// Form Legend
// ---------------------------------------------------------

.form-legend {
  @include fontAwesomeClass {
    color: getColor(primary);
    font-size: getFontSize(sm)
  }
}
