<form [formGroup]="form" (submit)="submitForm($event)" *ngIf="form">
  <aroio-content-item [title]="'Einstellungen'">

    <aroio-form-switch [id]="'pre-filter-form'"
                       [label]="'Pre-Filter beim Booten'"
                       [switchState]="form.get('load_prefilter').value"
                       (switched)="form.get('load_prefilter').setValue($event)"
    ></aroio-form-switch>
    <aroio-form-switch [id]="'audio-convolution-form'"
                       [label]="'Audio Convolution'"
                       [hasContent]="true"
                       [switchState]="form.get('brutefir').value"
                       (switched)="form.get('brutefir').setValue($event)"
    >


      <aroio-content-item [title]="'Filter'">
        <aroio-message [color]="'black-300'"
                       *ngIf="!form.get('brutefir').value; else filterListe"
        >Convolution ist nicht aktiviert
        </aroio-message>

        <ng-template #filterListe>
          <aroio-filter-list>
            <aroio-filter-list-item></aroio-filter-list-item>
            <aroio-filter-list-item></aroio-filter-list-item>
            <aroio-filter-list-item></aroio-filter-list-item>
          </aroio-filter-list>
        </ng-template>
      </aroio-content-item>


    </aroio-form-switch>
  </aroio-content-item>

  <div class="action-bar">
    <div class="action-bar__item">
      <a [routerLink]="['/', translate.currentLang, 'convolver', 'wizard']">
        <button aroio-btn type="submit" [color]="'primary'">Filter Hinzufügen</button>
      </a>
    </div>
    <div class="action-bar__item">
      <button aroio-btn type="submit" [color]="'primary'">Speichern</button>
    </div>
  </div>

</form>
