
<aroio-content-item>
  <h2>convolver index</h2>

  <aroio-button [color]="'primary'">Test</aroio-button>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, culpa deserunt eligendi fugiat harum, inventore iure magni modi molestias natus nesciunt nihil odio quam suscipit totam velit voluptatum? Laudantium, quibusdam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, culpa deserunt eligendi fugiat harum, inventore iure magni modi molestias natus nesciunt nihil odio quam suscipit totam velit voluptatum? Laudantium, quibusdam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, culpa deserunt eligendi fugiat harum, inventore iure magni modi molestias natus nesciunt nihil odio quam suscipit totam velit voluptatum? Laudantium, quibusdam.
  </p>
</aroio-content-item>
