<p>
  Hier kann das Ausgang-Routing des Aroio System eingestellt werden. Wählen Sie zuerst den gewünschten Ausgang. In
  Abhängigkeit zu dem Ausgang können Sie dann die gewünschten Player auswhlen. Eine Mehrfachauswahl ist nur bei dem
  Ausgang „Bus“ und „Convolver“ möglich. Am Ende können Sie die Kodierung des physikalischen Audio Ausgangs wählen.
  Mid/Side macht nur in zusammenhang mit unserer Geräte sinn, wenn Sie dort die Hardwareseitige Cleaner-Funktion Nutzen
  können.
</p>

<aroio-content-item [title]="'Output'">
  <div class="action-bar action-bar--evenly">
    <div class="action-bar__item" *ngFor="let output of audioOutputs; let outputIndex = index">
      <div class="radio">
        <input id="{{ output.id }}" type="radio" value="{{ output.position }}" name="audio_outputs" [checked]="index === outputIndex" (change)="index = outputIndex">
        <label for="{{ output.id }}">
          <span class="radio-label">{{ output.label }}</span>
        </label>
      </div>
    </div>
  </div>
</aroio-content-item>

<aroio-content-item [title]="'Player'">
  <!--<swiper class="carousel">-->
  <swiper class="audio-carousel" [(index)]="index" (indexChange)="changeSelect($event)" [config]="config">
    <div class="audio-carousel__item" *ngFor="let output of audioOutputs">
      <ul>
        <li *ngFor="let player of output.player">
          <div class="radio" *ngIf="!output.multiselectable; else checkbox">
            <input id="{{ output.id }}_{{ player.id }}" type="radio" value="{{ player.position }}" name="{{ output.id }}">
            <label for="{{ output.id }}_{{ player.id }}">
              <span class="radio-label">{{ player.label }}</span>
            </label>
          </div>
          <ng-template #checkbox>
            <div class="checkbox">
              <input type="checkbox" id="{{ output.id }}_{{ player.id }}" [formControl]="form.get(output.id + '_' + player.id)"/>
              <label for="{{ output.id }}_{{ player.id }}">
                <span class="checkbox-label">{{ player.label }}</span>
              </label>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
  </swiper>

</aroio-content-item>

<aroio-content-item [title]="'Kodierung'">
  <div class="action-bar action-bar--evenly">
    <div class="action-bar__item" *ngFor="let coding of audioOutputs[activeOutput].codings">
      <div class="radio">
        <input id="{{ coding.id }}" type="radio" value="{{ coding.position }}" name="{{ coding.id }}">
        <label for="{{ coding.id }}">
          <span class="radio-label">{{ coding.label }}</span>
        </label>
      </div>
    </div>
  </div>

</aroio-content-item>
