<p>
  Hier kann das Ausgang-Routing des Aroio System eingestellt werden. Wählen Sie zuerst den gewünschten Ausgang. In
  Abhängigkeit zu dem Ausgang können Sie dann die gewünschten Player auswhlen. Eine Mehrfachauswahl ist nur bei dem
  Ausgang „Bus“ und „Convolver“ möglich. Am Ende können Sie die Kodierung des physikalischen Audio Ausgangs wählen.
  Mid/Side macht nur in zusammenhang mit unserer Geräte sinn, wenn Sie dort die Hardwareseitige Cleaner-Funktion Nutzen
  können.
</p>

<aroio-loading *ngIf="isloading"></aroio-loading>
<form [formGroup]="form" (submit)="submitForm($event)" *ngIf="form && !isloading">

  <aroio-content-item [title]="'Output'">
    <div class="action-bar action-bar--evenly">
      <div class="action-bar__item" *ngFor="let output of audioOutputs;">
        <div class="radio">
          <input id="{{ output.id }}"
                 type="radio"
                 name="audio_outputs"
                 [value]="form.get('audio_output').value"
                 [checked]="form.get('audio_output').value === output.value"
                 (change)="form.get('audio_output').setValue(output.value); index = output.position">
          <label for="{{ output.id }}">
            <span class="radio-label">{{ output.label }}</span>
          </label>
        </div>
      </div>
    </div>
  </aroio-content-item>

  <aroio-content-item [title]="'Player'">
    <!--<swiper class="carousel">-->
    <swiper class="audio-carousel" [(index)]="index"
            (indexChange)="form.get('audio_output').setValue(audioOutputs[$event].value);" [config]="config">


      <div class="audio-carousel__item" *ngFor="let output of audioOutputs">
        <aroio-content-item [title]="'Output Konfiguration'">
          <ul>
            <li *ngFor="let player of output.player">
              <div class="radio" *ngIf="!output.multiselectable; else checkbox">
                <input type="radio"
                       id="radio_{{ output.id }}_{{ player.id }}"
                       [value]="form.get(output.id).get(player.id).value"
                       [checked]="form.get(output.id).get(player.id).value"
                       (change)="changeRadio(output.id, player.id)">

                <label for="radio_{{ output.id }}_{{ player.id }}">
                  <span class="radio-label">{{ player.label }}</span>
                </label>
              </div>
              <ng-template #checkbox>
                <div class="checkbox">
                  <input type="checkbox"
                         id="checkbox_{{ output.id }}_{{ player.id }}"
                         [formControl]="form.get(output.id).get(player.id)"/>
                  <label for="checkbox_{{ output.id }}_{{ player.id }}">
                    <span class="checkbox-label">{{ player.label }}</span>
                  </label>
                </div>
              </ng-template>
            </li>
          </ul>
        </aroio-content-item>
        <aroio-content-item [title]="'Cleanvolver'">
          <ul>
            <li>
              <div class="radio">
                <input type="radio"
                       id="radio_{{ output.id }}_stereo"
                       [value]="!form.get(output.id).get('mscoding').value"
                       [checked]="!form.get(output.id).get('mscoding').value"
                       (change)="changeStereo(output.id, false)">

                <label for="radio_{{ output.id }}_stereo">
                  <span class="radio-label">Stereo</span>
                </label>
              </div>
            </li>
            <li>
              <div class="radio">
                <input type="radio"
                       id="radio_{{ output.id }}_ms"
                       [value]="form.get(output.id).get('mscoding').value"
                       [checked]="form.get(output.id).get('mscoding').value"
                       (change)="changeStereo(output.id, true)">

                <label for="radio_{{ output.id }}_ms">
                  <span class="radio-label">M/S</span>
                </label>
              </div>
            </li>
          </ul>
        </aroio-content-item>
      </div>

      <!--<div class="action-bar action-bar&#45;&#45;evenly" [formControl]="form.get(output.id).get('mscoding')">-->
      <!--<div class="action-bar__item">-->
      <!--<div class="radio">-->
      <!--<input id="{{ output.id }}_stereo"-->
      <!--type="radio"-->
      <!--name="mscoding"-->
      <!--formControlName="mscoding"-->
      <!--&gt;-->
      <!--<label for="{{ output.id }}_stereo">-->
      <!--<span class="radio-label">Stereo</span>-->
      <!--</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="action-bar__item">-->
      <!--<div class="radio">-->
      <!--<input id="{{ output.id }}_ms"-->
      <!--type="radio"-->
      <!--name="mscoding"-->
      <!--formControlName="mscoding"-->
      <!--&gt;-->
      <!--<label for="{{ output.id }}_ms">-->
      <!--<span class="radio-label">M/S</span>-->
      <!--</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->


    </swiper>
  </aroio-content-item>

  <aroio-content-item [title]="'Kodierung'">

  </aroio-content-item>


  <div class="action-bar">
    <div class="action-bar__item">
      <!--<a [routerLink]="['/', translate.currentLang, 'convolver', 'wizard']">-->
      <!--<button aroio-btn type="submit" [color]="'primary'">Filter Hinzufügen</button>-->
      <!--</a>-->
    </div>
    <div class="action-bar__item">
      <button aroio-btn type="submit" [color]="'primary'">Speichern</button>
    </div>
  </div>
</form>

