
.action-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: spacing(3);

  .action-bar__item {

  }

  &.action-bar--evenly {
    justify-content: space-evenly;
  }
}
