//
// Button
// ---------------------------------------------------------


.btn {
  padding: spacing(.5) spacing(1.5);
  //border-radius: 0;
  background-color: getColor(white);
  transition: $base-animation;

  &:hover {
    background-color: rgba(getColor(primary), .3);
  }


  // Button colors
  // ---------------------------------------------------------

  @each $name, $color in $colorsAndStates {
    &.btn--#{'' + $name} {
      background-color: getColor(#{$name});
      color: color-contrast(getColor(#{$name}));

      //&:hover {
      //  background-color: rgba(getColor(#{$name}), .3);
      //}
    }
  }

}


@keyframes load {
  from {
    opacity: .6;
    transform: scale(1)
  }

  30% {
    opacity: .7;
    transform: scale(1.1)
  }

  50% {
    opacity: 1;
    transform: scale(1.4)
  }

  80% {
    opacity: .7;
    transform: scale(1.1)
  }

  to {
    opacity: .6;
    transform: scale(1)
  }
}
