//
// Aroio CSS Framework
// ---------------------------------------------------------

//
// Base
// ---------------------------------------------------------

$grid-gutter-width: 20px;

@import "~bootstrap/scss/bootstrap";

// Mixins & Variables
// ---------------------------------------------------------
@import "utilities/variables";
@import "utilities/reboot";
@import "utilities/functions/functions";


// Layout
// ---------------------------------------------------------


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Font Inter
// ---------------------------------------------------------
@import "fonts/fonts";


// Layout
// ---------------------------------------------------------
@import "layout/base";
@import "layout/header";
@import "layout/footer";
@import "layout/template";
@import "layout/tabs";
@import "layout/sidebar";
@import "layout/typography";

// Components
// ---------------------------------------------------------
@import "components/action-bar";
@import "components/button";
@import "components/switch";
@import "components/form-switch";
@import "components/content-item";

// Modules
// ---------------------------------------------------------

