<li>
  <div class="aroio-filter-list__item__switch">
    <div class="radio">
      <input id="{{ id }}" type="radio" value="{{ id }}" name="{{ id }}">
      <label for="{{ id }}">
        <span class="radio-label">{{ id }}</span>
      </label>
    </div>
  </div>
  <div class="aroio-filter-list__item__comments">
    <div class="aroio-filter-list__item__comments__item">
      <div class="aroio-filter-list__item__comments__item__label">Kommentar:</div>
      <div class="aroio-filter-list__item__comments__item__text">Blablabla Blablabla Blablabla</div>
    </div>
    <div class="aroio-filter-list__item__comments__item">
      <div class="aroio-filter-list__item__comments__item__label">Pegelabschwächung:</div>
      <div class="aroio-filter-list__item__comments__item__text">8dB</div>
    </div>
    <div class="aroio-filter-list__item__comments__item">
      <div class="aroio-filter-list__item__comments__item__label">Verfügbare Samplingraten:</div>
      <div class="aroio-filter-list__item__comments__item__text">44.1kHz <strong>48kHz</strong> <strong>96kHz</strong> 192kHz</div>
    </div>
  </div>
  <div class="aroio-filter-list__item__actions">
    <div class="aroio-filter-list__item__actions__item">
      <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="aroio-filter-list__item__actions__item">
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
</li>
