
.header {
  //position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: spacing(.5) spacing(1.5);
  font-size: getFontSize(sm);

  height: $base-header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__brand {

    a {
      opacity: .2;

      img {
        width: 120px;
      }

      &:after, &:before {
        display: none;
      }
    }


    &:hover {
      a {
        cursor: pointer;
        opacity: .7;
      }
    }
  }


  .header__actions {
    .header__actions__item {
      opacity: .2;
      transition: $base-animation;
      display: flex;
      align-items: center;

      i {
        padding: 0 spacing(.5);
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}
