.aroio-sidebar {
  margin-top: $navigation-font-size + $navigation-padding-vertical * 2;
  overflow: auto;
  //height: $base-content-height;

  .aroio-sidebar__widget {
    padding: spacing(2);
    margin-bottom: spacing(2);
    background-color: getColor(black-200);
    border-radius: $base-border-radius;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
