<h2>AroioOS Support Boyyy</h2>

<aroio-content-item [title]="'Aroio - Infos und Links'">
  <p><a class="forward" title="Aroio Streaming allgemein" href="https://www.abacus-electronics.de/produkte/streaming.html"
       target="_blank">Allgemeine Informationen</a> zum Thema Aroio-Streaming</p>
  <p><a class="forward" title="AroioOS - Betriebssystem"
        href="https://www.abacus-electronics.de/produkte/streaming/aroioos.html" target="_blank">AroioOS</a> - das
    Betriebssystem auf den Aroio-Produkten</p>
  <p><a class="forward" title="TeamViewer QuickSupport" href="https://get.teamviewer.com/abacus-electronics"
        target="_blank">TeamViewer QuickSupport</a> - schnelle Hilfe bei Problemen mit der Einrichtung</p>
  <p><a class="forward" title="ABACUS-Aroio-Forum" href="https://www.abacus-electronics.de/forum/index.php"
        target="_blank">ABACUS-Aroio-Forum</a> - Information und Diskussion</p>

</aroio-content-item>

<aroio-content-item [title]="'Verwendete Open Source Module'">

  <p>
    <a class="forward" href="https://www.ludd.ltu.se/~torger/brutefir.html" target="_blank">BruteFIR</a> – Software
    Convolution engine</p>
  <p><a class="forward" href="https://github.com/hzeller/gmrender-resurrect" target="_blank">GMediaRenderer
    Resurrect</a> – Resource efficient UPnP/DLNA renderer</p>
  <p><a class="forward" href="http://wiki.slimdevices.com/index.php/Logitech_Media_Server" target="_blank">Logitech
    Media Server</a> – Flexible Multimedia Server Software</p>
  <p><a class="forward" href="https://github.com/mikebrady/shairport-sync" target="_blank">Shairport Sync</a> – AirPlay
    audio player</p>
  <p><a class="forward" href="https://code.google.com/archive/p/squeezelite/" target="_blank">Squeezelite</a> – Headless
    squeezebox emulator for linux/osx/windows</p>

</aroio-content-item>



<!--<aroio-content-item [title]="'Test'">-->
  <!--<div [innerHTML]="content"></div>-->
<!--</aroio-content-item>-->
