<aroio-content-item [title]="'Information'">
  Hier finden Sie eine detailierte Auflistung der gesamten AroioOS Konfiguration.
</aroio-content-item>

<aroio-content-item [title]="'Ihr Aroio'">
  <img src="/assets/aroio_lt.svg" alt="AroioLT">
</aroio-content-item>
<ng-container *ngIf="settings?.configuration">

  <aroio-content-item *hasNotAdvanced [title]="'Systeminformationen'">
    <aroio-system-list [title]="'System'">
      <aroio-system-list-item [key]="'Platfform'"
                              [value]="settings.configuration.system.platform"></aroio-system-list-item>
      <aroio-system-list-item [key]="'Version'"
                              [value]="settings.configuration.system.known_version"></aroio-system-list-item>
    </aroio-system-list>

    <aroio-system-list [title]="'Audio'">
      <aroio-system-list-item [key]="'Soundkarte'"
                              [value]="settings.configuration.audio.soundcard"></aroio-system-list-item>
      <ng-container [ngSwitch]="settings.configuration.audio.output_configuration.audio_output">
        <ng-container *ngSwitchCase="'jack'">
          <aroio-system-list-item [key]="'Aktiver digitaler Audioausgang'"
                                  [value]="'Direkt'"></aroio-system-list-item>
          <aroio-system-list-item [key]="'Cleaner'"
                                  [value]="settings.configuration.audio.output_configuration.direct_config.mscoding ? 'Aktiv' : 'Inaktiv'"></aroio-system-list-item>
        </ng-container>
        <ng-container *ngSwitchCase="'vol-plug'">
          <aroio-system-list-item [key]="'Aktiver digitaler Audioausgang'" [value]="'Bus'"></aroio-system-list-item>
          <aroio-system-list-item [key]="'Cleaner'"
                                  [value]="settings.configuration.audio.output_configuration.bus_config.mscoding ? 'Aktiv' : 'Inaktiv'"></aroio-system-list-item>
        </ng-container>
        <ng-container *ngSwitchCase="'jack-bf'">
          <aroio-system-list-item [key]="'Aktiver digitaler Audioausgang'"
                                  [value]="'Convolver'"></aroio-system-list-item>
          <aroio-system-list-item [key]="'Cleaner'"
                                  [value]="settings.configuration.audio.output_configuration.convolver_config.mscoding ? 'Aktiv' : 'Inaktiv'"></aroio-system-list-item>
        </ng-container>
      </ng-container>
    </aroio-system-list>

    <aroio-system-list [title]="'Netzwerk'">
      <aroio-system-list-item [key]="'Hostname'"
                              [value]="settings.configuration.streaming.playername"></aroio-system-list-item>
      <ng-container *ngIf="settings.configuration.network.wifi; else lanInfo">
        <aroio-system-list-item [key]="'Verbindung'" [value]="'Drahtlos'"></aroio-system-list-item>
        <aroio-system-list-item [key]="'DHCP'"
                                [value]="settings.configuration.network.wlan.dhcp ? 'Aktiv' : 'Manuell'"></aroio-system-list-item>
        <aroio-system-list-item [key]="'SSID'"
                                [value]="settings.configuration.network.wlan.wlanssid"></aroio-system-list-item>
        <aroio-system-list-item [key]="'IP'"
                                [value]="settings.configuration.network.wlan.ipaddr"></aroio-system-list-item>
      </ng-container>
      <ng-template #lanInfo>
        <aroio-system-list-item [key]="'Verbindung'" [value]="'Kabelgebunden'"></aroio-system-list-item>
        <aroio-system-list-item [key]="'DHCP'"
                                [value]="settings.configuration.network.lan.dhcp ? 'Aktiv' : 'Manuell'"></aroio-system-list-item>
        <aroio-system-list-item [key]="'IP'"
                                [value]="settings.configuration.network.lan.ipaddr"></aroio-system-list-item>
      </ng-template>
    </aroio-system-list>


    <form [formGroup]="form" (submit)="submitForm($event)" *ngIf="form">

      <aroio-content-item [title]="'Update'">
        <aroio-form-switch [id]="'usebeta'"
                           [label]="'Auch nach Beta-Versionen suchen'"
                           [switchState]="form.get('usebeta').value"
                           (switched)="form.get('usebeta').setValue($event)"
        ></aroio-form-switch>
      </aroio-content-item>


      <div class="action-bar">
        <div class="action-bar__item">
          <aroio-button [color]="'primary'" (click)="searchForUpdates()">Suche nach Updates</aroio-button>
        </div>
<!--        <div class="action-bar__item">-->
<!--          <button aroio-btn type="submit" [color]="'primary'">Speichern</button>-->
<!--        </div>-->
      </div>

    </form>

  </aroio-content-item>

  <aroio-content-item *hasAdvanced [title]="'Detallierte Systeminformationen'">
    <aroio-system-list class="col-6" *ngFor="let config of getKeyValues(settings.configuration)"
                       [title]="config.key">
      <aroio-system-list-item *ngFor="let inner of getKeyValues(settings.configuration[config.key])"
                              [key]="inner.key" [value]="inner.value"></aroio-system-list-item>
    </aroio-system-list>
  </aroio-content-item>
</ng-container>
