<aroio-content-item [title]="'Ihr Aroio'">
  <img src="/assets/aroio_lt.svg" alt="AroioLT">
</aroio-content-item>
<aroio-content-item>
  <div class="container">
    <div class="row">
      <aroio-system-list class="col-6" *ngFor="let config of getKeyValues(aroioSettings.configuration)"
                         [title]="config.key">
        <aroio-system-list-item
          *ngFor="let inner of getKeyValues(aroioSettings.configuration[config.key])">{{ inner.key}}
          : {{ inner.value }}</aroio-system-list-item>
      </aroio-system-list>

    </div>
  </div>
</aroio-content-item>
