

<div class="aroio-tabs">
  <div class="aroio-tabs__navigation">
    <ng-container *ngFor="let tab of aroioTabs | orderBy: 'position'">
      <a class="aroio-tabs__navigation__item"
           *ngIf="tab.enabled"
           [ngClass]="{'aroio-tabs__navigation__item--active': tab.id === activeTab}"
           id="{{ tab.id }}"
         [routerLink]="['/', translate.currentLang, tab.route]"
      >
          {{ tab.label }}
      </a>
    </ng-container>
  </div>
  <div class="aroio-tabs__content">
      <ng-content></ng-content>
  </div>
</div>
