//
// Braune-Digital CSS Framework
// ---------------------------------------------------------

//
// Templates
// ---------------------------------------------------------

// Navigation
// ---------------------------------------------------------

$bd-nav-padding-vertical: spacing(4) !default;
$bd-nav--link-padding-vertical: spacing(1.5) !default;
$bd-nav--link-padding-horizontal: spacing(2) !default;

$bd-nav-height: 100px !default;
$bd-nav-padding-horizontal: spacing(4) !default;
$bd-nav-color: $color-grey-light !default;
$bd-nav-color-text: $color-dark !default;
$bd-nav-color-text-hover: $color-primary !default;
$bd-nav-color-background-hover: $color-grey-light-accent !default;
$bd-nav-border: 1px solid $color-grey-light-accent !default;
$bd-nav-list-item-padding: spacing(1) !default;
$bd-nav-logo-width: 200px !default;
$bd-nav-logo-margin-right: spacing(4) !default;


$item-count-size: 32px;
$item-count-size-active: 48px;
$sidebar-item-count-border: 2px;
$sidebar-item-margin-bottom: spacing(2);
$sidebar-item-padding-left: spacing(.5);
$sidebar-badge-size: 14px;

$sidebar-fade-button-font-size: 18px;
$sidebar-fade-button-margin-vertical: spacing(.5);
$sidebar-fade-button-margin-horizontal: spacing(2);
$sidebar-fade-button-border-radius: $sidebar-fade-button-font-size + $sidebar-fade-button-margin-vertical * 2;


@mixin navigation-list-styling() {
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      @include paddingHorizontal($bd-nav--link-padding-horizontal);
      @include paddingVertical(0);


      a {
        display: block;
        margin: 0;
        transition: $base-animation;
        color: $bd-nav-color-text;
        @include paddingVertical($bd-nav--link-padding-vertical);
        @include activeState {
          background: $bd-nav-color-background-hover;
          color: $bd-nav-color-text-hover;

          &:hover {
            color: rgba($bd-nav-color-text-hover, .7);
          }
        }
      }

      &:hover {
        a {
          color: $bd-nav-color-text-hover;
          cursor: pointer;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

}

.tmpl__nav {
  @include fade();

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include paddingVertical($bd-nav-padding-vertical);
  @include paddingHorizontal($bd-nav-padding-horizontal);
  height: $bd-nav-height;

  background: $bd-nav-color;
  border-bottom: $bd-nav-border;

  .tmpl__nav__brand {
    order: 2;
    width: $bd-nav-logo-width * .7;
  }

  .tmpl__nav__burger {
    order: 1;
  }

  .tmpl__nav__aside {
    order: 3;

    .avatar {
      .avatar__content {
        display: none;
      }

      .avatar__img {
        margin: 0;
      }
    }
  }

  // nav List
  // ---------------------------------------------------------

  .tmpl__nav__main {
    display: none;
    @include navigation-list-styling();
  }

  // Margin resets
  // ---------------------------------------------------------

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  .avatar {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {

    .tmpl__nav__brand {
      width: $bd-nav-logo-width;
      order: 1;
      margin-right: $bd-nav-logo-margin-right;
    }

    .tmpl__nav__burger {
      display: none;
    }

    .tmpl__nav__aside {
      order: 3;
      .avatar {
        .avatar__content {
          display: flex;
        }

        .avatar__img {
          margin-right: spacing(2);
        }
      }
    }

    .tmpl__nav__main {
      order: 2;
      display: flex;
      flex-grow: 1;
    }
  }

  @include media-breakpoint-up(lg) {
    .tmpl__nav__brand {
      margin-right: $bd-nav-logo-margin-right * 2;
    }
  }

  // Actions
  // ---------------------------------------------------------
  &.tmpl__nav--mobile-open {

    .tmpl__nav__main {
      display: flex;
    }
  }
}


.tmpl__nav__sub {
  .tmpl__nav__sub__mobile {
    @include navigation-list-styling();
    transition: $base-animation;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

//
// LOHNunion Customer Center CSS Overrides
// ---------------------------------------------------------

//
// Templates
// ---------------------------------------------------------

// Navigation
// ---------------------------------------------------------

@mixin navigation-list-styling-override() {
  ul {
    li {

      a {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: $base-border-width;
          display: block;
          right: 0;
          background: getColor(primary);
          transition: $base-animation;
        }


        @include hoverState {
          text-decoration: none;
          &:after {
            width: 100%;
            left: 0;
          }
        }
      }

      &.nav__logout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: $base-border;

        .avatar {
          display: flex;
          flex-direction: row;
          align-items: center;
          white-space: nowrap;
          margin-bottom: 0;

          .avatar__img {
            @include square(30px);
          }
        }
      }
    }
  }
}


.tmpl__nav {
  position: relative;
  z-index: $tmpl-zindex-base;

  .tmpl__nav__main {
    @include navigation-list-styling-override();
  }

  @include media-breakpoint-up(md) {
    .tmpl__nav__main {
      ul {
        li {
          &.nav__logout {
            display: none;
          }
        }
      }
    }
  }

}

.tmpl__nav__sub {

  .tmpl__nav__sub__mobile {
    border-bottom: $base-border;
    @include navigation-list-styling-override();

    ul {
      flex-direction: column !important;
    }
  }



  .nav__sub {
    @include paddingVertical(spacing(1.5));
    padding-right: spacing();
    display: flex;
    justify-content: space-between !important;
    align-items: center;

    background: getColor(primary);
    border-bottom: 1px solid rgba(getColor(white), .3);
    z-index: $tmpl-zindex-popup + 50;

    h1, h2, h3, h4 {
      color: getColor(white);
      width: unset;
      margin: 0;
    }

    .nav__sub__fade-button {
      background: getColor(white);
      border-top-right-radius: $sidebar-fade-button-border-radius;
      border-bottom-right-radius: $sidebar-fade-button-border-radius;
      font-size: $sidebar-fade-button-font-size;
      transition: $base-animation;

      .icon {
        @include marginVertical($sidebar-fade-button-margin-vertical);
        @include marginHorizontal($sidebar-fade-button-margin-horizontal);

        color: getColor(primary);
      }

      @include hoverState {
        cursor: pointer;
      }
    }

    @include media-breakpoint-down(sm) {
      .nav__sub__fade-button {
        position: absolute;
      }
      h3, .h3 {
        text-align: center;
        flex-grow: 1;
      }
    }

    @include media-breakpoint-between(sm, lg) {
      background: none;
      position: fixed;
      bottom: spacing(1);
      left: 0;
      border: none;
      //z-index: 1200;

      .nav__sub__fade-button {
        .icon {
          transform: rotate(180deg);
        }
      }

      h1, h2, h3, h4, .progress-circle {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .nav__sub--mailbox {
    @include media-breakpoint-between(sm, lg) {
      .nav__sub {
        .nav__sub__fade-button {
          background: getColor(primary);
          .icon {
            color: getColor(white);
          }
        }
      }
    }
  }

}
