<form [formGroup]="form">
  <h4>Wizard zur Audio Korrektur Messung</h4>

  <aw-wizard>
    <aw-wizard-step stepTitle="Start" [stepId]="stepNames[0]" (stepEnter)="enterStepAndSave()">

      <div class="wizard-steps__content">
        <h4>
          Möchten Sie eine neue Messung vornehmen?
        </h4>

        <p>
          Zur Messung wird ein miniDSP UMIK-1 USB-Messmikrofon benötigt. Das Mikrofon wird an der Hörposition aufgestellt und an einem der USB-Anschlüsse am Aroio angeschlossen.
        </p>

        <button aroio-btn class="btn" [color]="'primary'" type="button" awNextStep>Wizard starten</button>
      </div>

    </aw-wizard-step>

    <aw-wizard-step stepTitle="Ausrichtung Mikrofon" [stepId]="stepNames[1]" (stepEnter)="enterStepAndSave()">
      <div class="wizard-steps__content">
        Content of Step 2
      </div>

      <div class="action-bar">
        <div class="action-bar__item">
          <button aroio-btn class="btn" type="link" awPreviousStep>Zurück</button>
        </div>

        <div class="action-bar__item">
          <button aroio-btn class="btn" [color]="'primary'" type="button" awNextStep>Vor</button>
        </div>
      </div>

    </aw-wizard-step>

    <aw-wizard-step stepTitle="Start der Messung" [stepId]="stepNames[2]" (stepEnter)="enterStepAndSave()">
      <div class="wizard-steps__content">
        <p>
          Es wird das Mess-Signal geladen und der Messvorgang gestartet. Danach durchläuft das Signal alle Frequenzen von tief bis hoch einmal links, einmal rechts und noch einmal links.
        </p>

        <aroio-message [color]="'warning'">
          Die Lautstärke sollte so eingestellt werden, das der Pegel ausreichend hoch ist, ohne dass die Lautsprecher (vor allem im Bass) mechanisch an Grenzen stoßen.
        </aroio-message>


        <aroio-button>Test Pegel</aroio-button>
        <p>
          spielt für 10 Sekunden ein Rauschen ab, das als Orientierung für die Lautstärke der Messung dient. Diese sollte so eingestellt werden, dass sie als angenehm und nicht als kräftig empfunden wird.
        </p>
      </div>

      <div class="action-bar">
        <div class="action-bar__item">
          <button aroio-btn class="btn" type="link" awPreviousStep>Zurück</button>
        </div>

        <div class="action-bar__item">
          <button aroio-btn class="btn" [color]="'primary'" type="button" awNextStep>Vor</button>
        </div>
      </div>
    </aw-wizard-step>

    <aw-wizard-step stepTitle="Messung läuft" [stepId]="stepNames[3]" (stepEnter)="enterStepAndSave()">
      <div class="wizard-steps__content">

        <aroio-progress-bar [progress]="32"></aroio-progress-bar>

        <aroio-message [color]="'danger'">
          Während der Messung bitte die Lautstärke nicht ändern.
        </aroio-message>
      </div>

      <div class="action-bar">
        <div class="action-bar__item">
          <button aroio-btn class="btn" type="link" awPreviousStep>Zurück</button>
        </div>

        <div class="action-bar__item">
          <button aroio-btn class="btn" [color]="'primary'" type="button" awNextStep>Vor</button>
        </div>
      </div>
    </aw-wizard-step>

    <aw-wizard-step stepTitle="Filter berechnen" [stepId]="stepNames[4]" (stepEnter)="enterStepAndSave()">
      <div class="wizard-steps__content">
        <p>Nach erfolgreicher Messung kann das Ergebnis mit AudioVero Acourate oder AcourateCV von einem PC über das Netzwerk importiert und ausgewertet werden.</p>
      </div>

      <div class="action-bar">
        <div class="action-bar__item">
          <button aroio-btn class="btn" type="link" awPreviousStep>Zurück</button>
        </div>

        <div class="action-bar__item">
          <button aroio-btn class="btn" [color]="'primary'" type="button" awNextStep>Vor</button>
        </div>
      </div>
    </aw-wizard-step>

    <aw-wizard-step stepTitle="Messung abschließen" [stepId]="stepNames[5]" (stepEnter)="enterStepAndSave()">
      <div class="wizard-steps__content">
        <h3>Fertig</h3>

        <p>
          Kontroll-Messung startet eine Messung durch den Convolver mit den im Reiter Convolver gesetzten Filtern. Dies ist unabhängig von dem im Reiter System ausgewählten Ausgabemodus. Dieser Modus dient der Kontrolle von bestehenden Filtern.
        </p>
      </div>


      <div class="action-bar">
        <div class="action-bar__item">
          <button aroio-btn class="btn" type="link" awPreviousStep>Zurück</button>
        </div>

        <div class="action-bar__item">
          <button aroio-btn class="btn" [color]="'primary'" type="button" awNextStep>Vor</button>
        </div>
      </div>
    </aw-wizard-step>
  </aw-wizard>

</form>
